<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ticketac</title>
    <!-- To add in order to scale the view for mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container-fluid px-0 full-height">

       <!-- NAVBAR -->
       <%- include('navbar') %>

      <%if(train.length==0){%>
        <div class="row justify-content-center mt-5">  
          <div class="col-12 text-center m-3">
           <h4>Oops ! No train available...</h4>
            <a href="/homepage"><button class="btn btn-danger mt-3">Home</button></a>
          </div>
        </div>
      <%}else{%>
        <div class="row justify-content-center mt-5">  
          <div class="col-6 offset-1 m-3">
               <h4>Tickets available on <%=fullDateFormat(date)%>:</h4>
          </div>
        </div>
       
        <div class="row justify-content-center mb-5"> 
          <div class="col-6">
        <ul class="list-group">
          <%for(let i=0;i<train.length;i++){%>
          <li class="list-group-item mb-3 d-flex justify-content-between align-items-center">
            <span class="fs-6"><%=train[i].departure%>/<%=train[i].arrival%></span>
            <span class="text-muted">train departure at: <%=train[i].departureTime%></span>
            <span>
              <span class="fw-bold fs-6"><%=train[i].price%>€</span>
              <a href="/shop?id=<%=train[i].id%>"><button class="btn btn-danger ms-2">Go</button></a>
            </span>
          </li>
          <%}%>
        </ul>
      <%}%>
    </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
